@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

.password-recovery {
  margin-top: 100px;
  background: #e8e8e8;
}

.password-recovery .container {
  margin: 0 auto;
  max-width: 600px;
  padding: 20px 10px;
  box-sizing: content-box;
}

.password-recovery .wrapper {
  padding: 129px 108px 76px 107px;
  background: #ffffff;
  box-shadow: 0px 0px 30px rgba(68, 68, 68, 0.05);
  border-radius: 20px;
  position: relative;
}

.password-recovery__form-header {
  margin-bottom: 40px;
}

.password-recovery__form-title h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  color: #424242;
  line-height: 34px;
}

.password-recovery__form-label input {
  box-sizing: border-box;
  max-width: 385px;
  width: 100%;
  height: 50px;
  left: 107px;
  top: 203px;
  border: 1px solid #bdbdbd;
  border-radius: 83px;
  background-color: #ffffff;
  padding: 17px 32px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #bdbdbd;
  margin-bottom: 8px;
}

.password-recovery__form-label input::placeholder {
  color: #bdbdbd;
}

.password-recovery__form-label p {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #424242;
}

.password-recovery__form-footer {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.gradient-button {
  max-width: 195px;
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
  border-radius: 49px;
  border: none;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Spectral SC";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
}

.gradient-button:hover {
  color: #000000;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 70px;
  top: 54px;
  cursor: pointer;
}

.close-icon::before,
.close-icon::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 5px;
  background: linear-gradient(102.48deg, #976464 -29.03%, #cfa5a5 97.75%);
  transform: rotate(45deg);
}

.close-icon::after {
  transform: rotate(-45deg);
}

@media screen and (max-width: 480px) {
  .password-recovery .wrapper {
    padding: 70px 50px;
  }

  .password-recovery__form-header {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .gradient-button {
    min-height: 40px;
    max-width: 200px;
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .password-recovery__form-title h2 {
    font-size: 30px;
  }

  .password-recovery__form-label input {
    font-size: 12px;
    text-align: center;
    margin-bottom: 12px;
  }

  .password-recovery__form-label p {
    line-height: 100%;
    font-size: 10px;
  }

  .close-icon {
    right: 40px;
    top: 40px;
  }

  .close-icon::before,
  .close-icon::after {
    content: "";
    position: absolute;
    width: 27px;
  }
}
