*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1170px;
}

.dignity {
  width: 100%;
}

.dignity__header {
  display: flex;
  height: 150px;
  justify-content: center;
  align-items: center;
}

.dignity__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.dignity__line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dignity__line {
  width: 170px;
  height: 0px;
  border: 1px solid #ec7979;
}

.dignity__quote-wrapper {
  margin-top: 40px;
  margin-bottom: 70px;
}

.dignity__quote {
  text-align: center;
  color: #86878b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.dignity__characteristics {
  display: flex;
  justify-content: space-between;
}

.dignity-card {
  width: 370px;
}

.dignity-card__header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dignity-card__logo-wrapper {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dignity-card__logo {
  width: 66px;
  height: 66px;
  object-fit: contain;
}

.dignity-card__name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.dignity-card__name {
  text-align: center;
  color: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.dignity__description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.dignity-card__description {
  text-align: center;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
