@import url(./reset.css);
@import url(./root.css);
@import url(./main.css);

.weather__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wether__banner {
  margin-top: 57px;
}

.banner {
}
.banner__wrapper {
}
.banner__information {
}

.banner__lokation {
  max-width: 396px;
  width: 100%;
}


.banner__location h3 {
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 4px;
}

.banner__date-time {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.banner__date {
  margin-right: 18px;
}
.banner__time {

}

.banner__siting{
  display: flex;
}

.banner__site {
    display: flex;
}

.banner__number{
width: 100%;
position: relative;
}


.banner__number span {
 font-style: normal;
font-weight: 700;
font-size: 306px;
line-height: 373px;
text-transform: uppercase;
color: #FFFFFF;

}

.banner__number img {
    position: absolute;
    right: 0;
    top: 0;
}


.banner_parameters p {
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 37px;
text-transform: uppercase;
color: #FFFFFF;


}
.banner__forecasts {
  display: flex ;
}
.banner__forecasts-day {

}
.banner__forecasts-day-of-week h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
  
}

.banner__forecasts-day-degrees{
  position: relative;
}
.banner__forecasts-day-degrees::after{
  content:"\00B0";
  font-weight: 600;
font-size: 80px;
top: 0;
  right: 0;
  position: absolute;
  color: white;
  display: inline-block;

}

.banner__forecasts-day-degrees h4 {
font-style: normal;
font-weight: 600;
font-size: 80px;
line-height: 98px;
text-transform: uppercase;
color: #FFFFFF;

}
.banner__standing {
}
.banner__standing-map {
}
.banner__stading-locality {
}
