@import url(./reset.css);
@import url(./root.css);
@import url(./main.css);
@import url(../css/style.css);

.weather {
  position: relative;
  background: url(../assets/images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.weather::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(8, 15, 26, 0.59) 0%,
    rgba(17, 17, 46, 0.46) 100%
  );
}

.weather .container {
  position: relative;
}

.weather__setting {
  display: flex;
}

.setting__degrees {
  display: flex;
  margin-left: 10px;
}

.setting__degrees input {
  display: none;
}

.setting__degrees input:checked + label {
  background-color: var(--secondary-color);
  border-radius: 4px 0 0 4px;
  padding: 13px 14px 10px 15px;
}

.setting__degrees label {
  padding: 10px;
  background-color: var(--primary-color);
  display: block;
  border-radius: 0px 4px 4px 0;
  padding: 13px 15px 10px 12px;
}

.setting__degrees label > h6 {
  margin: 0;
  font-weight: 700;
font-size: 14px;
line-height: 17px;
text-transform: uppercase;

}

.setting__degrees-label h6 {
  color: var(--primary-color);
}

.setting__degrees-label h6::before {
  content: "\00B0";
}


.setting__degrees-label_active h6 {
  color: var(--primary-text-color);
}

.setting__degrees-label_active h6::before {
  content: "\00B0";
}

.weather__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting__languge {
  background: var(--primary-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  text-align: center;
  padding: 13px 35px 14px 15px ;
}

.weather__select-wrapper{
  position: relative;
  margin-left: 10px;
}

.weather__select-wrapper::after{
content: "";
position: absolute;
top:20px;
right:12px;
display: block;
width: 10px;
height: 6px;
background-image: url(../assets/images/Vector.png);
background-repeat: no-repeat;
}

select{
  appearance: none;
}

.weather__search{
  display: flex;
}

.weather__search-label input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 274px;
  height: 44px;
  background: var(--secondary-color);
  border: 1px solid rgba(228, 227, 227, 0.2);
  padding: 13px 15px;
  color: var(--primary-text-color);
  border-radius: 5px 0px 0px 5px;
}

.weather__search-label input::placeholder {
  color: #ffffffd1;
}

.wether__search-button{
  width: 101px;
height: 44px;
right: 90px;
top: 40px;
background-color: var(--primary-color);
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;
text-transform: uppercase;
color:var(--default-text-color)
}
.wether__banner {
  margin-top: 57px;
}

.banner {
}

.banner__wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.banner__information {
  width: 100%;
  max-width: 600px;
}

.banner__lokation {
  max-width: 396px;
  width: 100%;
}

.banner__location h3 {
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 4px;
}

.banner__date-time {
  display: flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.banner__date {
  margin-right: 18px;
}

.banner__siting {
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0;
  align-items: flex-end;
  position: relative;
  justify-content: space-between;
}

button.setting__refresh{
  display: flex;
background: rgba(180, 184, 187, 0.4);
border-radius: 5px;
width:44px;

}

.setting__refresh::before{
  content:"\ea2e";
  height: 5px;
  width: 5px;
  background-image: url(../assets/images/right.png);
}

.banner__degree {
  position: relative;
}

.banner__degree h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 306px;
  line-height: 215px;
  text-transform: uppercase;
  color: #ffffff;
}

.banner__degree h1::after {
  content: "\00B0";
  font-size: 100px;
  line-height: 70px;
  position: absolute;
  top: 0;
  right: -75px;
  z-index: 1;
}

.banner__wether-img {
}

.banner__wether-img img {
  position: absolute;
  width: 162px;
  height: 102px;
  top: 0;
  left: 55%;
}

.banner__parameters {
  margin-left: 30px;
}

.banner__parameters p {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}
.banner__parameters p:last-child {
  margin-bottom: -15px;
}

.banner__forecasts {
  flex-wrap: wrap-reverse;
  display: flex;
  position: relative;
  max-width: 582px;
  justify-content: space-between;
}

.banner__forecasts-day {
  position: relative;
}

.banner__forecasts-day-of-week {
  margin-bottom: 5px;
}

.banner__forecasts-day-of-week h4 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #ffffff;
}

.banner__forecasts-body {
  display: flex;
}

.banner__forecasts-day-degrees {
  position: relative;
  max-width: 88px;
}

.banner__forecasts-day-degrees h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  /* line-height: 98px; */
  line-height: 77px;
  text-transform: uppercase;
  color: #ffffff;
  vertical-align: bottom;
}

.banner__forecasts-day-degrees h4::after {
  content: "\00B0";
}

.banner__forecasts-day-cloud {
  width: 66px;
  height: 42px;
  margin-left: 15px;
}

.banner__forecasts-day-cloud img {
  width: 100%;
  height: 100%;
}

.banner_standing {
  display: flex;
  align-items: flex-end;
}

.banner_standing-map {
  max-height: 398px;
  max-width: 375px;
}

.banner_standing-map img {
  width: 375px;
  height: 398px;
  background-image: url("../assets/images/map.png");
  -webkit-mask-image: url("../assets/images/mask.svg");
  mask-image: url("../assets/images/mask.svg");
  -webkit-mask-size: 375px 398px;
  mask-size: 375px 398px;
}

.banner__stading-locality {
  text-align: right;
  margin-top: 15px;
}

.banner__stading-locality span {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  text-transform: capitalize;
  color: #ffffff;
}
