@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap);

body{
    font-family: var(--default-text-family);
}

.container{
    max-width: 1260px;
    margin: 0 auto;
}

.wrapper{
    width: 100%;
    padding: 40px 90px 96px 90px;
}


