.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #000000;
}

.header__wrapper {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans";

}
.logo.logo_large{
font-size: 55px;
}

.logo__link {
  text-decoration: none;
  color: #ffffff;
}

.logo__name_highlight {
  color: #ec7979;
}

.header__nav {
  float: inline-end;
}

.header__list {
  width: 570px;
  height: 75px;
  display: flex;
}

.header__item {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  margin: auto;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  color: #778899;
}

.social-media {
  background: #f8efef;
  padding: 18px 0;
}

.social-media__social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.social-media__social-network-logo {
  height: 60px;
  width: 60px;
  object-fit: contain;
}

.social-media__about {
  margin-right: 30px;
}
.social-media__title-wrapper {
  height: 60px;
  width: 470px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.social-media__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.social-media__description {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  white-space: pre-line;
}

.social-media__social-network-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.banner{
  background: url(../assets/img/bg.png);
}


.banner__wrapper{
  display: flex;
  justify-content: space-between;
}
.banner__text{
  width: 670px;
}

.banner__shadow{
  background-color: rgba(0,0,0,0.5);
  padding: 208px 0 185px 0;
}

.banner__button {
  width: 270px;
  height: 58px;
  background: transparent;
  border: 2px solid #FFFFFF;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}


.banner__registration-form{
  width: 470px;
  }

.registration-form{
  width: 100%;
  background-color:  #ffffff;
  border-radius: 10px;
}
.registration-form__header{
  padding: 0 50px;
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form__body{
  padding: 0 50px;
}

.registration-form__title{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
color: #333333;
text-transform: uppercase;
height: 90px;
display: flex;
justify-content: center;
align-items: center;
}

.text_button{
  width: 470px;
  height: 60px;
  background: #ec7979;
  border: none;
  margin-top: 75px;


  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  border-radius: 0 0 10px 10px;
}