.header {
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background: #000000;
}

.header .container {
  max-width: 1224px;
  width: 100%;
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  font-family: "Open Sans";
}
.logo.logo_large {
  font-size: 55px;
}

.logo__link {
  text-decoration: none;
  color: #ffffff;
}

.logo__name_highlight {
  color: #ec7979;
}
.header__nav {
  float: inline-end;
}

.header__list {
  width: 570px;
  height: 75px;
  display: flex;
}

.header__item {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  margin: auto;
}

.header__link {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  color: #778899;
}

.social-media {
  background: #f8efef;
  padding: 18px 0;
}

.social-media__social-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 70px;
}

.social-media__social-network-link circle,
.social-media__social-network-link path {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3s;
}

.social-media__social-network-link:hover circle,
.social-media__social-network-link:hover path {
  fill: red;
}
.social-media__about {
  margin-right: 30px;
}

.social-media__title-wrapper {
  height: 60px;
  width: 100%;
  max-width: 470px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
}

.social-media__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}

.social-media__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  white-space: pre-line;
}

.social-media__social-network-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.social-media__social-network-link:nth-child(1):hover path {
  fill: #174ca1;
}

.social-media__social-network-link:nth-child(2):hover path {
  fill: #1ac6ff;
}

.social-media__social-network-link:nth-child(3):hover path {
  fill: #2952c4;
}

.social-media__social-network-link:nth-child(5):hover path {
  fill: #eaea19;
}

.social-media__social-network-link:nth-child(6):hover path {
  fill: #0f1012;
}

.social-media__social-network-link:nth-child(7):hover circle,
.social-media__social-network-link:nth-child(7):hover path {
  fill: #f29738;
}

.banner {
  background: url(../assets/img/bg.png);
  background-position: center;
  background-size: cover;
}

.banner__wrapper {
  display: flex;
  justify-content: space-between;
}
.banner__text {
  max-width: 670px;
  width: 100%;
}

.banner__shadow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 208px 0 185px 0;
}

.banner__button {
  width: 270px;
  height: 58px;
}

.banner__registration-form {
  max-width: 470px;
}

.registration-form {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}

.registration-form__header {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.registration-form__body {
  width: 100%;
  padding: 0 50px;
}

.registration-form__title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
  text-transform: uppercase;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-form__footer {
  width: 100%;
}

.registration-form__submit {
  width: 100%;
  height: 60px;
  border-radius: 0px 0px 10px 10px;
  padding: 0;
}

.text-input {
  width: 100%;
  max-height: 38px;
}

.text-input__label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #bdbdbd;
  margin: 0;
}

.text-input > input,
.text-input > textarea {
  border: none;
  outline: none;
  width: 100%;
  font-size: 10px;
  resize: none;
}

.text-input__underline {
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
  overflow: hidden;
  margin-bottom: 33px;
}

.registration-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.registration-form__personal-information {
  flex-grow: 1;
  max-width: 570px;
}

.registration-form__personal-information .text-input {
  margin-bottom: 33px;
}
.registration-form__personal-information .text-input:last-child {
  margin-bottom: 75px;
}

.registration-form input {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  color: #000000;
  border-bottom: 1px solid #bdbdbd;
}

.registration-form__message .text-input {
  height: 100%;
}

.registration-form__message textarea::placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #bdbdbd;
}

.header__burger {
  display: none;
  width: 24px;
  height: 18px;
}

.header__burger button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.header__burger button:hover {
  transform: scale(1.1);
}

.header__burger button span {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
}

.header__burger .close {
  display: none;
  justify-content: center;
  position: relative;
}

.header__burger .close span:first-child {
  position: absolute;
  transform: rotate(45deg);
}

.header__burger .close span:last-child {
  position: absolute;
  transform: rotate(-45deg);
}

.header__burger.header__burger_active .close {
  display: flex;
}

.header__burger.header__burger_active .burger {
  display: none;
}

.sidebar {
  display: none;
  position: absolute;
  height: 100vh;
  background: black;
  transform: translateX(-100%);
  left: 0;
  transition: all 0.8s ease-in-out;
}

.sidebar.sidebar_active {
  transform: translateX(0);
}
.sidebar__link {
  width: 100%;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar__list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 16px 20px 181px 20px;
}

.sidebar__link {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  line-height: 19px;
  font-size: 14px;
  line-height: 100%;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }
  .header__wrapper {
    padding-left: 4px;
    padding-right: 4px;
  }

  .sidebar {
    width: 100%;
    display: block;
  }

  .banner .logo {
    display: none;
  }

  .banner__wrapper {
    flex-direction: column;
  }

  button.outlined.banner__button {
    padding: 0px;
    display: block;
    margin: 0 auto;
  }

  .registration-form {
    margin: 56px auto 50px;
    max-width: 288px;
    width: 100%;
  }

  .registration-form__header {
    padding: 0 28px 0 20px;
    margin-bottom: 0px;
  }

  .registration-form__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }

  .registration-form__body {
    padding: 0 28px 0 20px;
  }

  .banner__button {
    max-width: 288px;
    width: 100%;
    height: 50px;
  }

  input {
    padding-bottom: 20px;
  }

  .registration-form__personal-information .text-input:last-child {
    margin-bottom: 51px;
  }
}
