.design {
  background-image: url(../assets/img/design.png);
}

.design__shadow {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
}

.design__button {
  width: 370px;
  height: 58px;
  display: block;
  margin: 0 auto;
}

.design .section-header__title {
  color: #ffffff;
}

.design .section-header__line {
  border-color: #ffffff;
}

.design .section-header__quote {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .design__shadow {
    padding: 0 0 58px 0;
  }

  .section-header__quote {
    font-size: 14px;
    line-height: 16px;
  }

  .design .section-header {
    margin-bottom: 66px;
  }

  .design .section-header__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}
