.contact__wrapper {
  width: 100%;
  padding: 50px 0;
}

.contact-message-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-message-form__personal-information {
  flex-grow: 1;
  max-width: 570px;
}

.contact-message-form__message {
  flex-grow: 1;
  max-width: 570px;
  padding: 50px 0;
}

.contact-message-form__personal-information .text-input {
  margin: 50px 0;
}

.contact-message-form input {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  color: #000000;
  border-bottom: 1px solid #BDBDBD;
}

.contact-message-form input::placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}


.contact-message-form__message .text-input {
  height: 100%;
}

.contact-message-form__message textarea {
  height: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  position: relative;
  color: #000000;
  border-bottom: 1px solid #BDBDBD;
}

.contact-message-form__message textarea::placeholder {
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #BDBDBD;
}

.contact-message-form__button-wrapper {
  display: flex;
  justify-content: center;
}

.contact__button-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  text-align: center;
  margin-top: 27px;
}

.contact__button {
  max-width: 370px;
  width: 100%;
  width: 370px;
  height: 58px;
  background: #ec7979;
  border: none;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.contact__button:hover {
  background-color: rgb(246, 155, 155);
}
