.dignity {
  width: 100%;
  padding: 50px 0;
}

.dignity__characteristics {
  display: flex;
  justify-content: space-between;
  margin: 0 -10px;
}

.dignity-card {
  max-width: 370px;
  width: 100%;
  padding: 0 10px;
}

.dignity-card__header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dignity-card__logo-wrapper {
  width: 92px;
  height: 92px;
  border: 1px solid #ec7979;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dignity-card__logo {
  width: 66px;
  height: 66px;
  object-fit: contain;
}

.dignity-card__name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 100px;
}

.dignity-card__name {
  text-align: center;
  color: #000000;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  font-family: "Open Sans", sans-serif;
}

.dignity-card__description-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dignity-card__description {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
  margin-top: 0px;
}
.dignity-card__description p {
  white-space: pre-line;
}

@media screen and (max-width: 1024px) {
  .dignity {
    padding-bottom: 60px;
  }
  .dignity .section-header__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
}

@media screen and (max-width: 768px) {
  .dignity__characteristics {
    flex-direction: column;
    align-items: center;
  }

  .dignity .section-header {
    margin-bottom: 50px;
  }

  .dignity-card__header {
    height: 147px;
    align-items: center;
  }

  .dignity__characteristics {
    margin-bottom: 50px;
  }

  .dignity-card {
    max-width: 288px;
    width: 100%;
    margin-bottom: 10px;
  }
  .dignity-card__logo-wrapper {
    height: 80px;
    width: 80px;
  }
  .dignity-card__logo {
    height: 56px;
    width: 56px;
  }
  .dignity-card__header {
    margin-top: 0px;
  }

  .dignity-card__name-wrapper {
    margin-top: 0;
    height: 82px;
    margin-bottom: 9px;
  }

  .dignity-card__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  .dignity-card__description-wrapper {
    margin-top: 0px;
  }

  .dignity-card__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
