.footer {
  background: #000000;
  padding-top: 35px;
  padding-bottom: 27px;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.license {
  align-items: center;
  text-align: center;
  margin-top: 28px;
}

.license_text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.5);
}

.footer .social-media__social-network-list {
  max-width: 670px;
  width: 100%;
}

.footer .social-media__social-network-link {
  width: 53px;
  height: 53px;
}

.footer .social-media__social-network-logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1024px) {
  .footer .social-media__social-network-list {
    max-width: 482px;
  }

  .footer .social-media__social-network-link {
    height: 45px;
    width: 45px;
  }

  .footer .social-media__social-network-link {
    height: 45px;
    width: 45px;
  }

  .license_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .footer {
    padding-bottom: 30px;
  }

  .license {
    margin-top: 38px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 35px 16px 45px 16px;
  }

  .footer .social-media__social-network-link {
    width: 26px;
    height: 26px;
  }

  .license_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .license {
    margin-top: 42px;
    width: 100%;
  }
}
