@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap");
@import url(../css/reset.css);
@import url(../css/tabs.css);
@import url(../css/dignity.css);
@import url(../css/pricing.css);
@import url(../css/banner.css);
@import url(../css/reviews.css);
@import url(../css/banner_2.css);
@import url(../css/contact.css);
@import url(../css/footer.css);
@import url(../css/section-header.css);

.container {
  margin: 0 auto;
  max-width: 1170px;
  box-sizing: border-box;
  padding: 0 16px 0 16px;
}

.wrapper_raw {
  display: flex;
}

.highlight {
  color: #ec7979;
}

body {
  font-family: "Raleway";
}

button.filled {
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  background: #ec7979;
  border: none;
  color: #ffffff;
  transition: linear 0.5s;
}

button.filled:hover {
  color: black;
  background: #ec7979;
  opacity: 0.9;
}

button.outlined {
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  text-align: center;
  background: transparent;
  color: #ffffff;
  transition: linear 0.2s;
  border-color: #ffffff;
}

button.outlined:hover {
  background-color: black;
  opacity: 0.4;
}

textarea:focus,
input:focus {
  box-shadow: 1px 1px 1px 1px #0000004f;
}
