@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Raleway:wght@400;500&display=swap");
@import url(../css/reset.css);
@import url(../css/tabs.css);
@import url(../css/dignity.css);
@import url(../css/pricing.css);
@import url(../css/banner.css);
@import url(../css/reviews.css);
@import url(../css/banner_2.css);
@import url(../css/contact.css);
@import url(../css/footer.css);
@import url(../css/section-header.css);



.container {
  display: flex;
  justify-content: center;
}

.wrapper {
  max-width: 1170px;
}

.wrapper_raw {
  display: flex;
}

.highlight {
  color: #ec7979;
}

body{
  font-family: "Raleway";
}