.pricing {
  width: 100%;
  padding: 50px 0;
  background: #f5f5f5;
}

.pricing__wrapper {
  max-width: 1170px;
  width: 100%;
}

.pricing__options-list {
  display: flex;
  justify-content: space-between;
}

.pricing-option {
  max-width: 370px;
  width: 100%;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.pricing-option:hover {
  transform: translate(0, -20px);
  box-shadow: 0px 4px 10px 0px #33333333;
}

.pricing-option__header {
  background-color: #333333;
}

.pricing-option__name-wrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5f5f5;
}

.pricing-option__name {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}

.pricing-option__price-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5f5f5;
}

.pricing-option__price {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}

.pricing-option__period-wrapper {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5f5f5;
}

.pricing-option__period {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff80;
}

.pricing-option__info-list {
  background: #ffffff;
  border: 2px solid #f5f5f5;
}

.pricing-option__info-option {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #f5f5f5;
}

.pricing-option__info-option-name {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #86878b;
  text-transform: capitalize;
}

@media screen and (max-width: 1024px) {
  .pricing-option__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
  }

  .pricing-option__price-wrapper {
    height: 88px;
  }

  .pricing-option__price {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
  }

  .pricing-option__period-wrapper {
    height: 44px;
  }

  .pricing-option__info-option {
    height: 44px;
  }

  .pricing__options-list {
    margin: 0 -10px;
  }

  .pricing-option{
    padding: 0px 10px;
  }
  
  .pricing-option__period {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }

  .pricing-option__name-wrapper {
    height: 53px;
  }

  .pricing-option__info-option-name {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 768px) {
  .pricing {
    padding: 0px;
  }

  .pricing .section-header {
    margin-bottom: 24px;
  }

  .pricing__options-list {
    flex-direction: column;
    align-items: center;
  }

  .pricing-option {
    margin-bottom: 27px;
  }

  .pricing .section-header__title {
    font-size: 24px;
    line-height: 28px;
  }

  .pricing .section-header__line-wrapper {
    padding-bottom: 24px;
  }

  .pricing .section-header__quote {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .pricing .pricing-option__name-wrapper {
    height: 47px;
  }

  .pricing-option__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }

  .pricing .pricing-option__price-wrapper {
    height: 78px;
  }

  .pricing-option__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
  }

  .pricing .pricing-option__period-wrapper {
    height: 39px;
  }

  .pricing .pricing-option__info-option {
    height: 39px;
  }

  .pricing-option__period {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .pricing-option__info-option-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
