.section-header {
  margin-bottom: 70px;
}

.section-header__title-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
.section-header__title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
}

.section-header__line-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-header__line {
  width: 170px;
  height: 0px;
  border: 1px solid #ec7979;
}

.section-header__quote-wrapper {
  margin-top: 40px;
  
}

.section-header__quote {
  text-align: center;
  color: #86878b;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Raleway", sans-serif;
}

.section-header__title-wrapper_left {
  justify-content: flex-start;
}

.section-header__title_large{
font-size: 48px;
line-height: 56px;
}

.section-header_large {
  margin-bottom: 42px;
}

.section-header_large .section-header__title-wrapper{
  height: auto;
  margin-bottom: 55px;
}
.section-header_large .section-header__title{
font-size: 48px;
}

.section-header_white .section-header__title {
  color: #ffffff;
}

.section-header_white .section-header__line {
  border-color: #FFFFFF;
}
.section-header_white .section-header__quote {
  color: #ffffff;
}


.section-header__line-wrapper_left {
  justify-content: flex-start;
}


.section-header__quote_left {
  text-align: left;
}
