.tabs {
  padding-top: 100px;
}

.tab {
  display: flex;
  border: 1px solid #c6cbcd;
}

.tab__text {
  padding: 0px 30px 27px 100px;
  text-align: center;
}

.tab__title-wrapper {
  width: 570px;
  height: 124px;
  display: flex;
}

.tab__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #000000;
}

.tab__discription {
  width: 570px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  height: 210px;
}

p.tab__discription-text {
  font-weight: 400;
  font-size: 18px;
  text-align: start;
  white-space: pre-line;
  color: #000000;
  height: 100%;
}

.tab__photo {
  width: 470;
  height: 500;
  margin: left 30px;
  margin-top: 0px;
}

.tab__button-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 27px;
}

.tab__button {
  width: 270px;
  height: 58px;
  background: #ec7979;
  border: none;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.tab__button:hover {
  background-color: rgb(246, 155, 155);
}

.tabs__header {
  display: flex;
  width: 100%;
  transform: translate(0, 1px);
}

.tabs__link {
  width: 184px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-decoration: none;
  color: #000000;
}

.tabs__link:hover {
  background-color: #efefef;
}

.tabs__link_active {
  border: 1px solid #c6cbcd;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  width: 204px;
}

.tabs__link-name {
  text-decoration: none;
}
