@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Raleway&display=swap");

.tabs__revenue {
  display: flex;
  border: 1px solid #c6cbcd;
}

.tabs__text-revenue {
  /* width: 100%; */
  padding: 0px 30px 27px 100px;
  text-align: center;
}

.container {
  display: flex;
}

.tabs__title {
  width: 570px;
  height: 124px;
  display: flex;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  display: flex;
  align-items: center;
  color: #000000;
}

.tabs__discription {
  width: 570px;
  min-height: 210px;
  margin-top: 27px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
}

.tabs__discriotion-text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  white-space: pre-line;
  color: #000000;
  width: 570px;
  min-height: 210px;
}

.container {
  max-width: 1170px;
  height: 501px;
  margin: 0 auto;
  display: flex;
}

.tabs__photo {
  width: 470;
  height: 500;
  margin: left 30px;
  margin-top: 0px;
}

.tabs__button-wrapper {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 27px;
}

.tabs__button {
  width: 270px;
  height: 58px;
  background: #ec7979;
  border: none;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
}

.tabs__header {
  display: flex;
  width: 100%;
  transform: translate(0, 1px);
}

.tab {
  width: 184px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tab_active {
  border: 1px solid #c6cbcd;
  border-radius: 6px 6px 0 0;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  width: 204px;
}
